:root{
    --cols:16;
    --border:1px;
}

body{
    background: white;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.grid{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(var(--cols), calc(75vh / var(--cols)));
    border: 1px solid black;
}

.gridSquare{
    background: white;
    border:var(--border) solid gainsboro;
    caret-color: transparent; /* hides the blinking cursor on the grids*/
    user-select: none; /* users can't drag invisible content */
}

.gridSquare::before{
    content:"";
    padding-top: 100%;
    display: block;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
}
.button{
    background: grey;
}

.button:hover{
    background: purple;
}

#colour-picker{
    border:none;
    width:100px;
    background-color: transparent;
}

#colour-picker::-webkit-color-swatch{
    border-radius: 50%;
    border:none;
}

#colour-picker::-moz-color-swatch{
    border-radius: 50%;
    border:none;
}

input[type='range'] {
    -webkit-appearance: none;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: grey;
}